In [1]:
import pandas as pd, numpy as np
from matplotlib import pyplot as plt
import scipy.stats  as stats
pd.options.display.max_columns = 50

In [2]:
accuracy_preds = pd.read_csv("data/submission_accuracy.csv")
accuracy_preds.head()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,F17,F18,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,FOODS_1_001_CA_1_evaluation,0.618335,0.592695,0.592239,0.606308,0.712821,0.936194,0.923494,0.589471,0.592695,0.654276,0.715315,0.780839,0.998437,0.947483,0.670548,0.655918,0.666696,0.676098,0.797240,0.976193,0.961831,0.657211,0.644018,0.659215,0.619272,0.727947,0.936864,0.877289
1,FOODS_1_001_CA_2_evaluation,0.866686,0.813225,0.813225,0.876127,0.931848,1.404693,1.372011,0.892515,0.813225,0.880066,0.987530,0.995757,1.463326,1.457594,0.962668,0.847063,0.874090,0.957170,0.989519,1.494076,1.459385,0.945931,0.878843,0.890753,0.927704,0.986549,1.459294,1.290617
2,FOODS_1_001_CA_3_evaluation,0.888642,0.852128,0.850571,0.857863,0.961846,1.193715,1.207114,0.835203,0.852128,0.902392,0.990894,1.024099,1.228625,1.232059,0.934614,0.918948,0.917776,0.920268,1.031010,1.206977,1.220584,0.915585,0.889480,0.888786,0.878806,0.987414,1.197363,1.158595
3,FOODS_1_001_CA_4_evaluation,0.373773,0.363371,0.362707,0.365878,0.397924,0.451086,0.452247,0.299806,0.363371,0.415133,0.419339,0.465342,0.490031,0.510394,0.445362,0.416341,0.408920,0.426629,0.450449,0.524502,0.525273,0.433622,0.393360,0.435025,0.374092,0.407719,0.453717,0.415297
4,FOODS_1_001_TX_1_evaluation,0.423690,0.404215,0.402600,0.410843,0.471969,0.549307,0.554625,0.369641,0.404215,0.436563,0.410787,0.510116,0.560736,0.592946,0.476337,0.449388,0.420609,0.451450,0.488755,0.571716,0.576162,0.473086,0.409601,0.430091,0.412060,0.473592,0.545508,0.514748

In [3]:
accuracy_preds.shape

(60980, 29)

In [4]:
sales = pd.read_csv("data/sales_train_validation.csv")
sales.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,d_10,d_11,d_12,d_13,d_14,d_15,d_16,d_17,d_18,d_19,...,d_1889,d_1890,d_1891,d_1892,d_1893,d_1894,d_1895,d_1896,d_1897,d_1898,d_1899,d_1900,d_1901,d_1902,d_1903,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,4,2,3,0,1,2,0,0,0,1,1,3,0,1,1,1,3,0,1,1
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0,0,0,0,1,2,2,1,2,1,1,1,0,1,1,1
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,3,1,2,1,3,1,0,2,5,4,2,0,3,0,1,0,5,4,1,0,1,3,7,2
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,4,0,1,4,0,1,0,1,0,1,1,2,0,1,1,2,1,1,0,1,1,2,2,2,4

In [5]:
sub = accuracy_preds.merge(sales[["id", "item_id", "dept_id", "cat_id", "store_id", "state_id"]], on = "id")
sub["_all_"] = "Total"
sub.shape

(30490, 35)

In [6]:
sub.head()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,F17,F18,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28,item_id,dept_id,cat_id,store_id,state_id,_all_
0,HOBBIES_1_001_CA_1_validation,0.0,0.0,0.0,2.0,0.0,3.0,5.0,0.0,0.0,1.0,1.0,0.0,2.0,1.0,2.0,2.0,1.0,0.0,2.0,4.0,0.0,0.0,0.0,0.0,3.0,3.0,0.0,1.0,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,Total
1,HOBBIES_1_002_CA_1_validation,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,Total
2,HOBBIES_1_003_CA_1_validation,0.0,0.0,1.0,1.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,3.0,0.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,2.0,3.0,0.0,1.0,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,Total
3,HOBBIES_1_004_CA_1_validation,0.0,0.0,1.0,2.0,4.0,1.0,6.0,4.0,0.0,0.0,0.0,2.0,2.0,4.0,2.0,1.0,1.0,1.0,1.0,1.0,0.0,4.0,0.0,1.0,3.0,0.0,2.0,6.0,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,Total
4,HOBBIES_1_005_CA_1_validation,1.0,0.0,2.0,3.0,1.0,0.0,3.0,2.0,3.0,1.0,1.0,3.0,2.0,3.0,2.0,2.0,2.0,2.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,2.0,1.0,0.0,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,Total

In [7]:
qs = np.array([0.005,0.025,0.165,0.25, 0.5, 0.75, 0.835, 0.975, 0.995])
qs.shape

(9,)

In [8]:
qs2 = qs - 0.5
ratios = stats.norm.cdf(qs2)
ratios /= ratios[4]
ratios = pd.Series(ratios, index=qs)
ratios.round(3)

0.005    0.621
0.025    0.635
0.165    0.738
0.250    0.803
0.500    1.000
0.750    1.197
0.835    1.262
0.975    1.365
0.995    1.379
dtype: float64

In [9]:
def quantile_coefs(q):
    return ratios.loc[q].values

In [10]:
levels = ["id", "item_id", "dept_id", "cat_id", "store_id", "state_id", "_all_"]
couples = [("state_id", "item_id"),  ("state_id", "dept_id"),("store_id","dept_id"),("state_id", "cat_id"),("store_id","cat_id")]
cols = [f"F{i}" for i in range(1, 29)]

In [11]:
def get_group_preds(pred, level):
    df = pred.groupby(level)[cols].sum()
    q = np.repeat(qs, len(df))
    df = pd.concat([df]*9, axis=0, sort=False)
    df.reset_index(inplace = True)
    df[cols] *= quantile_coefs(q)[:, None]
    if level != "id":
        df["id"] = [f"{lev}_X_{q:.3f}_validation" for lev, q in zip(df[level].values, q)]
    else:
        df["id"] = [f"{lev.replace('_validation', '')}_{q:.3f}_validation" for lev, q in zip(df[level].values, q)]
    df = df[["id"]+list(cols)]
    return df

In [12]:
def get_couple_group_preds(pred, level1, level2):
    df = pred.groupby([level1, level2])[cols].sum()
    q = np.repeat(qs, len(df))
    df = pd.concat([df]*9, axis=0, sort=False)
    df.reset_index(inplace = True)
    df[cols] *= quantile_coefs(q)[:, None]
    df["id"] = [f"{lev1}_{lev2}_{q:.3f}_validation" for lev1,lev2, q in 
                zip(df[level1].values,df[level2].values, q)]
    df = df[["id"]+list(cols)]
    return df

In [13]:
df = []
for level in levels :
    df.append(get_group_preds(sub, level))
for level1,level2 in couples:
    df.append(get_couple_group_preds(sub, level1, level2))
df = pd.concat(df, axis=0, sort=False)
df.reset_index(drop=True, inplace=True)
df = pd.concat([df,df] , axis=0, sort=False)
df.reset_index(drop=True, inplace=True)
df.loc[df.index >= len(df.index)//2, "id"] = df.loc[df.index >= len(df.index)//2, "id"].str.replace(
                                    "_validation$", "_evaluation")

df.shape

<ipython-input-13-159fbb7a6270>:10: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[df.index >= len(df.index)//2, "id"] = df.loc[df.index >= len(df.index)//2, "id"].str.replace(

(771120, 29)

In [14]:
df.head()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,F17,F18,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,FOODS_1_001_CA_1_0.005_validation,1.2412,0.0000,0.0000,0.0,0.000000,0.6206,0.6206,0.0000,3.723601,0.6206,0.0,1.8618,0.0000,0.0000,0.0000,1.2412,0.0000,0.0000,1.2412,1.8618,0.6206,0.0000,0.000000,0.0000,0.6206,0.0000,0.0000,0.0000
1,FOODS_1_001_CA_2_0.005_validation,0.0000,1.8618,0.0000,0.0,0.000000,0.6206,2.4824,0.0000,0.000000,0.0000,0.0,0.0000,0.0000,0.0000,0.6206,1.2412,0.6206,0.0000,0.6206,0.0000,0.0000,0.6206,0.620600,0.0000,0.0000,0.6206,1.2412,0.0000
2,FOODS_1_001_CA_3_0.005_validation,0.6206,0.0000,0.6206,0.0,4.964801,0.6206,0.0000,0.0000,0.620600,0.0000,0.0,0.6206,0.6206,0.0000,0.0000,0.0000,0.0000,0.0000,0.6206,1.2412,1.2412,0.0000,0.000000,0.6206,0.0000,1.8618,1.2412,1.2412
3,FOODS_1_001_CA_4_0.005_validation,0.0000,0.6206,0.0000,0.0,0.000000,0.0000,0.6206,0.0000,0.000000,0.0000,0.0,0.0000,0.6206,0.0000,0.0000,0.0000,0.0000,0.0000,0.6206,0.0000,0.0000,0.0000,0.000000,0.6206,0.6206,0.0000,0.0000,0.0000
4,FOODS_1_001_TX_1_0.005_validation,0.0000,0.0000,0.6206,0.0,0.620600,0.0000,0.6206,0.6206,0.620600,0.6206,0.0,0.0000,1.2412,0.6206,0.0000,0.6206,0.0000,0.6206,0.6206,0.6206,0.6206,0.6206,3.103001,0.0000,1.2412,1.2412,0.0000,1.2412

In [18]:
df.to_csv("data/submission_fptu.csv", index = False)