In [2]:
import pandas as pd

In [3]:
from sklearn.metrics.cluster import adjusted_rand_score

In [10]:
label = pd.read_csv('/Users/mrc/Documents/MRC/csic5011/mini_project/ceph_hgdp_minor_code_XNA.sampleInformation.csv')

In [146]:
prediction_to_label = pd.read_csv('/Users/mrc/Documents/MRC/csic5011/mini_project/part1/prediction_to_label.csv')

In [14]:
pca = pd.read_csv('/Users/mrc/Documents/MRC/csic5011/mini_project/part1/pca_cluster.csv')
mds = pd.read_csv('/Users/mrc/Documents/MRC/csic5011/mini_project/part1/mds_cluster.csv')
tsne = pd.read_csv('/Users/mrc/Documents/MRC/csic5011/mini_project/part1/tsne_cluster.csv')
isomap = pd.read_csv('/Users/mrc/Documents/MRC/csic5011/mini_project/part1/isomap_cluster.csv')

In [24]:
isomap

      Unnamed: 0  x
0              1  3
1              2  3
2              3  3
3              4  3
4              5  3
...          ... ..
1038        1039  4
1039        1040  1
1040        1041  6
1041        1042  1
1042        1043  5

[1043 rows x 2 columns]

In [25]:
label['pca'] = pca['x']
label['mds'] = mds['groups']
label['tsne'] = tsne['x']
label['isomap'] = isomap['x']

In [26]:
label

,ID,Gender,Population,Geographic.origin,Geographic.area,region,distance,latitude,longtitude,pca,mds,tsne,isomap
0,HGDP00448,M,Biaka Pygmies,Central African Republic,Central Africa,Africa,2384.859098,4.0,17.0,2,4,4,3
1,HGDP00479,M,Biaka Pygmies,Central African Republic,Central Africa,Africa,2384.859098,4.0,17.0,2,4,4,3
2,HGDP00985,M,Biaka Pygmies,Central African Republic,Central Africa,Africa,2384.859098,4.0,17.0,2,4,4,3
3,HGDP01094,M,Biaka Pygmies,Central African Republic,Central Africa,Africa,2384.859098,4.0,17.0,2,4,4,3
4,HGDP00982,M,Mbuti Pygmies,Democratic Republic of Congo,Central Africa,Africa,1335.495772,1.0,29.0,2,4,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1038,HGDP00953,M,Yakut,Siberia,Russia,East Asia,9919.809481,63.0,129.5,3,2,7,4
1039,HGDP01070,F,Sardinian,Italy,Southern Europe,Europe,5305.809561,40.0,9.0,5,1,2,1
1040,HGDP01376,M,French Basque,France,Southern Europe,Europe,6012.260603,43.0,0.0,5,1,2,6
1041,HGDP00671,M,Sardinian,Italy,Southern Europe,Europe,5305.809561,40.0,9.0,5,1,6,1
1042,HGDP01024,F,Han,China,China,East Asia,10133.395580,32.3,114.0,6,7,5,5

In [27]:
label = label.drop('Gender', axis=1)
label = label.drop('Population', axis=1)
label = label.drop('Geographic.origin', axis=1)
label = label.drop('Geographic.area', axis=1)
label = label.drop('distance', axis=1)
label = label.drop('latitude', axis=1)
label = label.drop('longtitude', axis=1)

In [36]:
label.to_csv('/Users/mrc/Documents/MRC/csic5011/mini_project/label_with_prediction.csv')

In [29]:
label['region'].value_counts()

East Asia             235
Central/South Asia    207
Middle East           176
Europe                160
Africa                121
America               108
Oceania                36
Name: region, dtype: int64

In [147]:
prediction = label[label['isomap'] == 7]

In [148]:
prediction['region'].value_counts()

Middle East           101
Europe                 43
Central/South Asia     26
Name: region, dtype: int64

In [150]:
prediction_to_label

,Unnamed: 0,pca,mds,tsne,isomap
0,1,East Asia,Europe,America,Europe
1,2,Africa,Oceania,Middle East,East Asia
2,3,Central/South Asia,Central/South Asia,Oceania,Africa
3,4,Central/South Asia,Africa,Africa,Central/South Asia
4,5,Middle East,Africa,East Asia,America
5,6,East Asia,Middle East,Europe,Central/South Asia
6,7,Central/South Asia,East Asia,Central/South Asia,Middle East

In [168]:
for i in range(1043):
    label['pca'] = label['pca'].replace([1,2,3,4,5,6,7], ['East Asia','Africa','Central/South Asia','Central/South Asia','Middle East','East Asia','Central/South Asia'])

In [171]:
for i in range(1043):
    label['mds'] = label['mds'].replace([1,2,3,4,5,6,7], ['Europe','Oceania','Central/South Asia','Africa','Africa','Middle East','East Asia'])

In [172]:
for i in range(1043):
    label['tsne'] = label['tsne'].replace([1,2,3,4,5,6,7], ['America','Middle East','Oceania','Africa','East Asia','Europe','Central/South Asia'])

In [173]:
for i in range(1043):
    label['isomap'] = label['isomap'].replace([1,2,3,4,5,6,7], ['Europe','East Asia','Africa','Central/South Asia','America','Central/South Asia','Middle East'])

In [174]:
label

,ID,region,pca,mds,tsne,isomap
0,HGDP00448,Africa,Africa,Africa,Africa,Africa
1,HGDP00479,Africa,Africa,Africa,Africa,Africa
2,HGDP00985,Africa,Africa,Africa,Africa,Africa
3,HGDP01094,Africa,Africa,Africa,Africa,Africa
4,HGDP00982,Africa,Africa,Africa,Africa,Africa
...,...,...,...,...,...,...
1038,HGDP00953,East Asia,Central/South Asia,Oceania,Central/South Asia,Central/South Asia
1039,HGDP01070,Europe,Middle East,Europe,Middle East,Europe
1040,HGDP01376,Europe,Middle East,Europe,Middle East,Central/South Asia
1041,HGDP00671,Europe,Middle East,Europe,Europe,Europe
1042,HGDP01024,East Asia,East Asia,East Asia,East Asia,America

In [177]:
score_pca = adjusted_rand_score(label['region'], label['pca'])
score_mds = adjusted_rand_score(label['region'], label['mds'])
score_tsne = adjusted_rand_score(label['region'], label['tsne'])
score_isomap = adjusted_rand_score(label['region'], label['isomap'])

In [178]:
score_pca

0.5829841517165872

In [179]:
score_mds

0.5847292296539066

In [180]:
score_tsne

0.6905735949475522

In [181]:
score_isomap

0.4636345205636106