In [3]:
import pandas as pd
import numpy as np
from sklearn.cross_decomposition import PLSRegression
from sklearn.model_selection import GridSearchCV, KFold
from sklearn.decomposition import PCA
from sklearn.metrics import mean_squared_error, r2_score, make_scorer
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.linear_model import ElasticNet, Lasso, Ridge, LinearRegression
from sklearn.neural_network import MLPRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from pyecharts.charts import HeatMap
import pyecharts.options as opts
from copy import copy

In [4]:
from sklearn.model_selection import PredefinedSplit

In [67]:
from tqdm import tqdm

#### Since each model requires a lot of time to run, our team members run the code separately. Therefore, there is some code that is not running in this ipynb file.

### Data processing

In [5]:
data = pd.read_csv('/Users/zhouxiaomin/Desktop/hkust/COURSES NOTE/2021F/AI/Assignment 2/datashare/GKX_20201231.csv')

In [6]:
recent = data[~(data['DATE'] <= 19610101)]

In [13]:
recent

,permno,DATE,mvel1,RET,prc,SHROUT,beta,betasq,chmom,dolvol,...,baspread,ill,maxret,retvol,std_dolvol,std_turn,zerotrade,sic2,bm,bm_ia
358242,10006,19610131,5.396000e+04,0.322368,50.250000,1420,1.097917,1.205421,-0.131384,8.877138,...,0.017962,2.151394e-07,0.040134,0.016976,0.462846,0.708629,7.404632e-08,37.0,NaN,NaN
358243,10014,19610131,1.001600e+04,0.000000,4.000000,2504,1.528429,2.336095,-0.311111,6.895809,...,0.033141,9.621171e-07,0.093750,0.030237,0.854378,1.583680,6.630851e-08,39.0,NaN,NaN
358244,10030,19610131,6.243612e+04,0.087948,41.750000,1627,1.211479,1.467682,0.116933,8.932609,...,0.013038,3.012904e-07,0.029221,0.012935,0.580183,0.349018,1.538137e-07,NaN,NaN,NaN
358245,10057,19610131,2.362500e+04,0.142857,54.000000,500,1.070586,1.146155,0.034416,8.159303,...,0.013102,6.272476e-07,0.039548,0.014330,0.630725,0.580640,2.000000e+00,NaN,NaN,NaN
358246,10065,19610131,7.800000e+04,0.135417,27.250000,3250,0.849400,0.721481,0.077249,8.341708,...,0.010895,4.206203e-07,0.020942,0.010092,0.670171,0.273152,2.839977e-07,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4345503,93423,20201231,2.611343e+06,0.109665,34.099998,84977,1.921340,3.691548,0.798194,16.060575,...,0.060029,4.462048e-10,0.176471,0.050187,0.519033,17.649093,3.803709e-09,79.0,NaN,NaN
4345504,93426,20201231,3.671460e+05,0.076239,31.480000,12552,1.301940,1.695047,0.551929,12.334190,...,0.035050,2.296462e-08,0.159100,0.043004,0.473367,2.144264,3.236729e-08,36.0,NaN,NaN
4345505,93427,20201231,2.523235e+06,0.135851,77.589996,36938,0.847169,0.717695,0.011311,14.568580,...,0.029388,1.364274e-09,0.048227,0.020206,0.294512,1.469369,2.227010e-08,36.0,NaN,NaN
4345506,93434,20201231,8.738802e+04,0.122605,2.930000,33482,0.389812,0.151954,0.282874,9.453983,...,0.051558,3.435272e-07,0.116667,0.035277,0.935967,0.897075,1.037670e-07,1.0,NaN,NaN
4345507,93436,20201231,1.735365e+08,0.243252,705.669983,947901,1.349505,1.821163,0.868039,19.036016,...,0.047931,1.820359e-12,0.101968,0.039271,0.531632,18.110463,2.654462e-09,37.0,NaN,NaN

In [7]:
macro = pd.read_csv('macroeconomic predictors.csv')

In [8]:
macro

,Date,bm,tbl,ntis,svar,ep,dp,dfy,tms
0,196101,0.522987,0.0224,0.021815,0.000741,-1.284343,-1.501556,0.0078,0.0180
1,196102,0.512023,0.0242,0.019420,0.000547,-1.304053,-1.513817,0.0080,0.0150
2,196103,0.546680,0.0239,0.022738,0.000415,-1.323356,-1.525512,0.0080,0.0158
3,196104,0.545004,0.0229,0.023259,0.001009,-1.327841,-1.527178,0.0076,0.0162
4,196105,0.530916,0.0229,0.022466,0.000404,-1.338913,-1.535412,0.0074,0.0168
...,...,...,...,...,...,...,...,...,...
715,202008,0.235975,0.0010,-0.008504,0.000743,-1.550421,-1.772309,0.0102,0.0055
716,202009,0.241482,0.0011,-0.005698,0.004907,-1.534527,-1.756971,0.0105,0.0057
717,202010,0.253146,0.0010,-0.001895,0.003661,-1.528413,-1.746197,0.0109,0.0069
718,202011,0.226352,0.0009,-0.005262,0.002492,-1.578931,-1.791974,0.0100,0.0078
719,202012,0.219195,0.0009,-0.000094,0.000678,-1.601006,-1.809223,0.0090,0.0084

In [9]:
recent['Date'] = recent['DATE']/100

<ipython-input-9-071fb7a505ff>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recent['Date'] = recent['DATE']/100

In [10]:
recent['Date'] = recent['Date'].astype(int)

<ipython-input-10-e41b323af78a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recent['Date'] = recent['Date'].astype(int)

In [11]:
recent.set_index(['Date'],inplace=True)

In [12]:
macro.set_index(['Date'],inplace=True)

In [13]:
df = pd.merge(recent,macro,left_index=True,right_index=True,how='inner')

In [14]:
df

,permno,DATE,mvel1,RET,prc,SHROUT,beta,betasq,chmom,dolvol,...,bm_x,bm_ia,bm_y,tbl,ntis,svar,ep_y,dp,dfy,tms
Date,,,,,,,,,,,,,,,,,,,,,
196101,10006,19610131,5.396000e+04,0.322368,50.250000,1420,1.097917,1.205421,-0.131384,8.877138,...,NaN,NaN,0.522987,0.0224,0.021815,0.000741,-1.284343,-1.501556,0.0078,0.0180
196101,10014,19610131,1.001600e+04,0.000000,4.000000,2504,1.528429,2.336095,-0.311111,6.895809,...,NaN,NaN,0.522987,0.0224,0.021815,0.000741,-1.284343,-1.501556,0.0078,0.0180
196101,10030,19610131,6.243612e+04,0.087948,41.750000,1627,1.211479,1.467682,0.116933,8.932609,...,NaN,NaN,0.522987,0.0224,0.021815,0.000741,-1.284343,-1.501556,0.0078,0.0180
196101,10057,19610131,2.362500e+04,0.142857,54.000000,500,1.070586,1.146155,0.034416,8.159303,...,NaN,NaN,0.522987,0.0224,0.021815,0.000741,-1.284343,-1.501556,0.0078,0.0180
196101,10065,19610131,7.800000e+04,0.135417,27.250000,3250,0.849400,0.721481,0.077249,8.341708,...,NaN,NaN,0.522987,0.0224,0.021815,0.000741,-1.284343,-1.501556,0.0078,0.0180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202012,93423,20201231,2.611343e+06,0.109665,34.099998,84977,1.921340,3.691548,0.798194,16.060575,...,NaN,NaN,0.219195,0.0009,-0.000094,0.000678,-1.601006,-1.809223,0.0090,0.0084
202012,93426,20201231,3.671460e+05,0.076239,31.480000,12552,1.301940,1.695047,0.551929,12.334190,...,NaN,NaN,0.219195,0.0009,-0.000094,0.000678,-1.601006,-1.809223,0.0090,0.0084
202012,93427,20201231,2.523235e+06,0.135851,77.589996,36938,0.847169,0.717695,0.011311,14.568580,...,NaN,NaN,0.219195,0.0009,-0.000094,0.000678,-1.601006,-1.809223,0.0090,0.0084
202012,93434,20201231,8.738802e+04,0.122605,2.930000,33482,0.389812,0.151954,0.282874,9.453983,...,NaN,NaN,0.219195,0.0009,-0.000094,0.000678,-1.601006,-1.809223,0.0090,0.0084
202012,93436,20201231,1.735365e+08,0.243252,705.669983,947901,1.349505,1.821163,0.868039,19.036016,...,NaN,NaN,0.219195,0.0009,-0.000094,0.000678,-1.601006,-1.809223,0.0090,0.0084

In [15]:
df=df.fillna(0)

In [16]:
df = df[~df['RET'].isin([0])]

In [17]:
df = df.drop('DATE',axis=1)

In [18]:
df = df.reset_index()

In [19]:
finaldata = df
finaldata

,Date,permno,mvel1,RET,prc,SHROUT,beta,betasq,chmom,dolvol,...,bm_x,bm_ia,bm_y,tbl,ntis,svar,ep_y,dp,dfy,tms
0,196101,10006,5.396000e+04,0.322368,50.250000,1420,1.097917,1.205421,-0.131384,8.877138,...,0.0,0.0,0.522987,0.0224,0.021815,0.000741,-1.284343,-1.501556,0.0078,0.0180
1,196101,10030,6.243612e+04,0.087948,41.750000,1627,1.211479,1.467682,0.116933,8.932609,...,0.0,0.0,0.522987,0.0224,0.021815,0.000741,-1.284343,-1.501556,0.0078,0.0180
2,196101,10057,2.362500e+04,0.142857,54.000000,500,1.070586,1.146155,0.034416,8.159303,...,0.0,0.0,0.522987,0.0224,0.021815,0.000741,-1.284343,-1.501556,0.0078,0.0180
3,196101,10065,7.800000e+04,0.135417,27.250000,3250,0.849400,0.721481,0.077249,8.341708,...,0.0,0.0,0.522987,0.0224,0.021815,0.000741,-1.284343,-1.501556,0.0078,0.0180
4,196101,10102,3.053050e+05,0.032468,79.500000,3965,1.541293,2.375585,0.163292,10.033265,...,0.0,0.0,0.522987,0.0224,0.021815,0.000741,-1.284343,-1.501556,0.0078,0.0180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3819001,202012,93423,2.611343e+06,0.109665,34.099998,84977,1.921340,3.691548,0.798194,16.060575,...,0.0,0.0,0.219195,0.0009,-0.000094,0.000678,-1.601006,-1.809223,0.0090,0.0084
3819002,202012,93426,3.671460e+05,0.076239,31.480000,12552,1.301940,1.695047,0.551929,12.334190,...,0.0,0.0,0.219195,0.0009,-0.000094,0.000678,-1.601006,-1.809223,0.0090,0.0084
3819003,202012,93427,2.523235e+06,0.135851,77.589996,36938,0.847169,0.717695,0.011311,14.568580,...,0.0,0.0,0.219195,0.0009,-0.000094,0.000678,-1.601006,-1.809223,0.0090,0.0084
3819004,202012,93434,8.738802e+04,0.122605,2.930000,33482,0.389812,0.151954,0.282874,9.453983,...,0.0,0.0,0.219195,0.0009,-0.000094,0.000678,-1.601006,-1.809223,0.0090,0.0084
3819005,202012,93436,1.735365e+08,0.243252,705.669983,947901,1.349505,1.821163,0.868039,19.036016,...,0.0,0.0,0.219195,0.0009,-0.000094,0.000678,-1.601006,-1.809223,0.0090,0.0084

In [29]:
np.isnan(finaldata).any()

Date      False
permno    False
mvel1     False
RET       False
prc       False
          ...
svar      False
ep_y      False
dp        False
dfy       False
tms       False
Length: 109, dtype: bool

### We define 2 functions here to facilitate programming.

#### 1. Out-of-sample R_square

In [30]:
def calculate_R_square(y_true, pre_ret):
    a = ((y_true-pre_ret)**2).sum()
    b = (y_true**2).sum()
    R_square = 1-(a/b)
    return R_square

#### 2. Split the data

In [31]:
def splitdata(data,i):
    train = data[data['Date'] < i]
    val = data.loc[train.shape[0]:]
    val = val[val['Date']<i+1200]   
    
    test = data.loc[(train.shape[0]+val.shape[0]):]
    test = test[test['Date'] < i+1300]
    
    #set x_train, y_train, x_val, y_val, x_test and y_test
    x_train=np.array(train.drop(['Date', 'RET','permno'],axis=1))
    y_train=np.array(train['RET']) 
    x_val=np.array(val.drop(['Date', 'RET','permno'],axis=1))
    y_val=np.array(val['RET'])
    x_test=np.array(test.drop(['Date', 'RET','permno'],axis=1))
    y_test=np.array(test['RET'])
    
    return x_train,y_train,x_val,y_val,x_test,y_test

## Lasso

In [93]:
R_square =[]

In [94]:
for i in range(197901,200901,100):
    
    x_train,y_train,x_val,y_val,x_test,y_test=splitdata(finaldata,i)
    
    bestRSqr = float("-Inf")
    bestLasso = None
                         
    for alpha in [0.8,1,10,100]:
        lasso = Lasso(alpha=alpha,normalize=True)
        lasso.fit(x_train,y_train)
    
        pred = lasso.predict(x_val)
        currentRSqr = calculate_R_square(y_val, pred)
            
        if(currentRSqr>bestRSqr):
            bestRSqr=currentRSqr
            bestLasso=lasso

        
    resultPred = bestLasso.predict(x_test)
    resultRSqr = calculate_R_square(y_test, resultPred)

    R_square.append(resultRSqr)

In [95]:
R_square = pd.DataFrame(R_square)

In [96]:
R_square

           0
0   0.011994
1   0.007145
2   0.010987
3  -0.012353
4   0.015729
5   0.007060
6   0.008150
7  -0.004370
8   0.008466
9  -0.005266
10  0.004797
11 -0.008976
12  0.024800
13  0.012484
14 -0.002455
15  0.014186
16 -0.013284
17 -0.032935
18  0.015657
19  0.016863
20 -0.016724
21  0.010378
22  0.027344
23 -0.005079
24 -0.010146
25  0.007283
26  0.007948
27 -0.020177
28  0.008406
29  0.007429

In [97]:
R_square_lasso = R_square.mean()
R_square_lasso

0    0.003178
dtype: float64

## Ridge

In [98]:
R_square =[]

In [102]:
for i in tqdm(range(197901,200901,100)):

    
    x_train,y_train,x_val,y_val,x_test,y_test=splitdata(finaldata,i)
    
    bestRSqr = float("-Inf")
    bestRidge = None
                         
    for alpha in [0.1,0.4,1,10]:
        ridge = Ridge(alpha=alpha,normalize=True)
        ridge.fit(x_train,y_train)
    
        pred = ridge.predict(x_val)
        currentRSqr = calculate_R_square(y_val, pred)
            
        if(currentRSqr>bestRSqr):
            bestRSqr=currentRSqr
            bestRidge=ridge

        
    resultPred = bestRidge.predict(x_test)
    resultRSqr = calculate_R_square(y_test, resultPred)

    R_square.append(resultRSqr)

100%|██████████| 30/30 [33:32<00:00, 67.08s/it]

In [103]:
R_square = pd.DataFrame(R_square)

In [105]:
R_square

           0
0   0.034032
1   0.010807
2   0.008941
3  -0.017068
4   0.017542
5   0.004835
6   0.004903
7  -0.009168
8   0.002666
9  -0.005140
10  0.002211
11 -0.008169
12  0.022030
13  0.008865
14 -0.005215
15  0.013694
16 -0.057384
17  0.028690
18  0.034932
19  0.035738
20 -0.017049
21 -0.004822
22  0.045534
23 -0.027954
24 -0.045030
25  0.003925
26  0.001816
27 -0.017249
28  0.013571
29  0.080784

In [104]:
R_square_ridge = R_square.mean(axis=0)
R_square_ridge

0    0.005376
dtype: float64

## SDG

In [ ]:
R_square =[]

In [ ]:
for i in tqdm(range(197901,200901,100)):
    
    x_train,y_train,x_val,y_val,x_test,y_test=splitdata(finaldata,i)
    
    bestRSqr = float("-Inf")
    bestsdg = None
                         
    for alpha in [0.01,0.1,0.001]:
        sdg = make_pipeline(StandardScaler(),SGDRegressor(loss='huber',alpha=alpha,max_iter=2000))
        sdg.fit(x_train,y_train)
    
        pred = sdg.predict(x_val)
        currentRSqr = calculate_R_square(y_val, pred)
            
        if(currentRSqr>bestRSqr):
            bestRSqr=currentRSqr
            bestsdg=sdg

        
    resultPred = bestsdg.predict(x_test)
    resultRSqr = calculate_R_square(y_test, resultPred)

    R_square.append(resultRSqr)

In [ ]:
R_square = pd.DataFrame(R_square)

In [ ]:
R_square_sdg = R_square.mean(axis=0)
R_square_sdg

## PCA

In [106]:
R_square =[]

In [107]:
for i in tqdm(range(197901,200901,100)):
    
    x_train,y_train,x_val,y_val,x_test,y_test=splitdata(finaldata,i)
    
    bestRSqr = float("-Inf")
    bestPca = None
    
                         
    for n_com in [10,15,20]:
        pca = PCA(n_components=n_com)
        pcr = make_pipeline(StandardScaler(), pca, LinearRegression())
        pcr.fit(x_train,y_train)
    
        pred = pcr.predict(x_val)
        currentRSqr = calculate_R_square(y_val, pred)
            
        if(currentRSqr>bestRSqr):
            bestRSqr=currentRSqr
            bestPca=pcr

        
    resultPred = bestPca.predict(x_test)
    resultRSqr = calculate_R_square(y_test, resultPred)

    R_square.append(resultRSqr)

100%|██████████| 30/30 [1:10:29<00:00, 140.97s/it]

In [108]:
R_square = pd.DataFrame(R_square)

In [109]:
R_square

           0
0   0.003875
1  -0.021820
2  -0.037682
3  -0.061603
4  -0.026957
5  -0.018863
6   0.004028
7  -0.006826
8   0.010037
9  -0.001675
10  0.003138
11 -0.003548
12  0.015926
13  0.010733
14 -0.006750
15  0.012253
16 -0.012624
17 -0.018881
18  0.013366
19  0.014597
20 -0.021854
21  0.007637
22  0.028357
23 -0.011097
24 -0.010170
25 -0.019388
26  0.001158
27 -0.015637
28  0.006188
29  0.004827

In [110]:
R_square_pca = R_square.mean(axis=0)
R_square_pca

0   -0.005308
dtype: float64

## GBRT

In [111]:
R_square =[]

In [113]:
for i in tqdm(range(197901,200901,100)):
    
    
    x_train,y_train,x_val,y_val,x_test,y_test=splitdata(finaldata,i)
    
    bestRSqr = float("-Inf")
    bestGbrt = None
                         
    for n_est in [10,15,20]:
        gbrt = GradientBoostingRegressor(n_estimators=n_est)
        gbrt.fit(x_train,y_train)
    
        pred = gbrt.predict(x_val)
        currentRSqr = calculate_R_square(y_val, pred)
            
        if(currentRSqr>bestRSqr):
            bestRSqr=currentRSqr
            bestGbrt=gbrt

        
    resultPred = bestGbrt.predict(x_test)
    resultRSqr = calculate_R_square(y_test, resultPred)

    R_square.append(resultRSqr)

100%|██████████| 30/30 [34:41:17<00:00, 4162.57s/it]

In [115]:
R_square = pd.DataFrame(R_square)

In [116]:
R_square

           0
0   0.030183
1   0.021949
2   0.019002
3  -0.020418
4   0.020054
5   0.031947
6   0.034085
7   0.044596
8   0.031789
9   0.020800
10  0.029496
11  0.030171
12  0.045624
13  0.038691
14  0.020685
15  0.031015
16  0.039253
17  0.090295
18  0.057943
19  0.074583
20  0.050711
21  0.057248
22  0.067076
23  0.025810
24  0.032720
25  0.062284
26  0.052213
27  0.048374
28  0.046272
29  0.060555

In [117]:
R_square_gbrt = R_square.mean(axis=0)
R_square_gbrt

0    0.039834
dtype: float64

## Random Forest

In [16]:
R_square =[]

In [ ]:
for i in tqdm(range(197901,200901,100)):
    
    x_train,y_train,x_val,y_val,x_test,y_test=splitdata(finaldata,i)
    
    bestRSqr = float("-Inf")
    bestRf = None
                         
    for depth in [3,5]:
        for ntrees in [5,10]:
            rf = RandomForestRegressor(random_state=500, max_depth=depth, n_estimators=ntrees)
            rf.fit(x_train,y_train)
    
            pred = rf.predict(x_val)
            currentRSqr = calculate_R_square(y_val, pred)
            
            if(currentRSqr>bestRSqr):
                bestRSqr=currentRSqr
                bestRf=rf
                bestCombine=(depth,ntrees)
        
    resultPred = bestRf.predict(x_test)
    resultRSqr = calculate_R_square(y_test, resultPred)

    R_square.append(resultRSqr)

In [ ]:
R_square = pd.DataFrame(R_square)

In [ ]:
R_square

In [ ]:
R_square_rf = R_square.mean(axis=0)
R_square_rf

## Find top 1000 stocks by market equity

In [26]:
marketv=finaldata[['permno','mvel1']]

In [27]:
mv=marketv.groupby('permno').mean().reset_index().sort_values('mvel1',ascending=False)

In [28]:
top=list(mv.head(1000).permno)
top

[14542,
 13407,
 13721,
 15488,
 16851,
 92611,
 92602,
 90319,
 89525,
 91233,
 15408,
 18576,
 86868,
 83443,
 84788,
 76076,
 87447,
 10107,
 10104,
 70519,
 66093,
 65875,
 12369,
 77178,
 89006,
 12308,
 66181,
 14008,
 18143,
 87031,
 92655,
 17778,
 13356,
 15054,
 14888,
 90215,
 16752,
 12558,
 86746,
 87842,
 17942,
 93436,
 55976,
 77418,
 59328,
 14593,
 59408,
 77274,
 86356,
 18298,
 90441,
 69032,
 88388,
 90505,
 89179,
 12972,
 13598,
 47896,
 89393,
 88668,
 18428,
 89428,
 13788,
 12345,
 60097,
 18163,
 11850,
 50876,
 43449,
 14541,
 59176,
 89258,
 11308,
 22111,
 22752,
 21936,
 13856,
 86783,
 26403,
 77702,
 87267,
 12490,
 91937,
 38703,
 17379,
 89954,
 19794,
 17782,
 91883,
 87055,
 18484,
 12622,
 12060,
 86580,
 22592,
 89071,
 18481,
 83835,
 19561,
 88239,
 82654,
 89626,
 13901,
 66157,
 86111,
 89199,
 19393,
 20482,
 14655,
 90857,
 83435,
 13286,
 89001,
 89444,
 12872,
 89130,
 88391,
 17830,
 91952,
 87212,
 86755,
 19286,
 93002,
 92156,
 66800,
 89350,
 15401,
 48725,
 90794,
 14040,
 11081,
 79323,
 13447,
 10147,
 81284,
 85636,
 15707,
 75510,
 84181,
 57665,
 14338,
 19285,
 76841,
 16087,
 14776,
 10145,
 75789,
 61399,
 88845,
 80070,
 65883,
 11552,
 93096,
 86381,
 14295,
 81055,
 86223,
 86946,
 90993,
 12084,
 15579,
 13928,
 83332,
 75186,
 18592,
 82647,
 91926,
 15735,
 92157,
 13786,
 64936,
 90442,
 87137,
 89565,
 76226,
 80100,
 16048,
 17005,
 20057,
 78916,
 91063,
 75825,
 27828,
 77546,
 14987,
 13103,
 18542,
 89813,
 85348,
 49154,
 79057,
 85259,
 11703,
 19502,
 91650,
 77768,
 77605,
 85269,
 19788,
 87666,
 92121,
 18729,
 88352,
 86339,
 21178,
 77668,
 81061,
 86927,
 60628,
 80094,
 83596,
 15826,
 89003,
 85913,
 34833,
 86158,
 78975,
 49656,
 89134,
 70332,
 89070,
 13911,
 14704,
 25785,
 60442,
 20626,
 81774,
 19163,
 93094,
 62092,
 16595,
 85261,
 86136,
 18724,
 44644,
 76557,
 12742,
 64311,
 82800,
 15358,
 17685,
 88885,
 91111,
 75154,
 11955,
 73139,
 87432,
 22103,
 27959,
 89125,
 16343,
 85442,
 16341,
 19490,
 62148,
 56573,
 88233,
 83440,
 17279,
 80599,
 90880,
 90386,
 11003,
 18411,
 64186,
 59184,
 14889,
 82775,
 67774,
 13628,
 36469,
 52919,
 16267,
 24205,
 17750,
 15667,
 51043,
 14702,
 45356,
 68144,
 86943,
 85032,
 15859,
 75844,
 18312,
 71298,
 81188,
 91321,
 92491,
 89617,
 92108,
 92890,
 76171,
 29647,
 89129,
 91706,
 27887,
 88446,
 76932,
 14277,
 15113,
 87029,
 85592,
 85963,
 21371,
 13511,
 93089,
 19148,
 84398,
 37584,
 14144,
 79678,
 13353,
 53613,
 91983,
 12449,
 81126,
 21776,
 22779,
 84032,
 59459,
 79547,
 28310,
 45751,
 75034,
 82309,
 66122,
 13618,
 65859,
 12542,
 10078,
 18452,
 16581,
 75646,
 89195,
 12052,
 75652,
 14988,
 82642,
 86979,
 14714,
 49680,
 57904,
 81132,
 75418,
 88490,
 89330,
 71563,
 23819,
 76614,
 29890,
 77284,
 91103,
 92239,
 84381,
 87657,
 92590,
 19350,
 68347,
 18267,
 25013,
 33099,
 12994,
 19605,
 13379,
 61735,
 77606,
 92618,
 65138,
 40539,
 79237,
 76744,
 19623,
 86326,
 84597,
 90866,
 18062,
 85058,
 91873,
 24942,
 72726,
 64653,
 93144,
 19583,
 18420,
 83111,
 20161,
 81593,
 91461,
 88415,
 82232,
 89641,
 91874,
 91207,
 17972,
 91068,
 86745,
 19495,
 17144,
 75828,
 19654,
 52038,
 10696,
 86228,
 22293,
 91583,
 13608,
 18726,
 18579,
 18940,
 34746,
 39642,
 13314,
 15478,
 92614,
 16538,
 14939,
 90373,
 87128,
 25778,
 89895,
 12448,
 16449,
 89533,
 92257,
 17787,
 88661,
 91143,
 86414,
 16736,
 14558,
 90793,
 91703,
 85635,
 13586,
 11042,
 76149,
 80381,
 19199,
 18485,
 13948,
 76605,
 39087,
 16140,
 80055,
 84769,
 14856,
 85238,
 16649,
 82598,
 87293,
 24046,
 24109,
 13949,
 18734,
 12079,
 26825,
 66018,
 90808,
 24766,
 12456,
 10401,
 11997,
 77462,
 18911,
 70578,
 61621,
 13760,
 87536,
 91152,
 92221,
 93142,
 85914,
 89017,
 89014,
 14231,
 16753,
 13832,
 90851,
 17307,
 17478,
 78405,
 92949,
 81540,
 76201,
 92203,
 16424,
 10138,
 15909,
 59010,
 80924,
 28222,
 13142,
 91277,
 75607,
 64390,
 66026,
 13738,
 17827,
 13035,
 16917,
 16431,
 86314,
 48506,
 88215,
 24643,
 83639,
 18886,
 13688,
 89475,
 14570,
 15069,
 79145,
 59192,
 76636,
 10516,
 88360,
 93013,
 21573,
 85753,
 60871,
 88873,
 17341,
 79103,
 85991,
 88837,
 84373,
 16000,
 79129,
 92490,
 39917,
 88201,
 89470,
 83715,
 77338,
 90199,
 11990,
 19818,
 87184,
 16155,
 69892,
 39490,
 75064,
 80307,
 89757,
 75241,
 75489,
 89858,
 75333,
 92322,
 83693,
 92402,
 14329,
 89927,
 86445,
 87831,
 23712,
 76712,
 18421,
 86021,
 89346,
 76597,
 81481,
 14736,
 77815,
 58683,
 93338,
 89138,
 16932,
 15404,
 85870,
 18723,
 11896,
 89730,
 86996,
 16678,
 90829,
 18382,
 22509,
 38156,
 14075,
 89495,
 90520,
 48653,
 50227,
 17700,
 82686,
 78946,
 90796,
 91556,
 13904,
 56274,
 90601,
 77481,
 75819,
 88901,
 11404,
 15720,
 12799,
 15703,
 89508,
 92144,
 60506,
 13430,
 85631,
 11762,
 25320,
 21207,
 18572,
 27983,
 77823,
 79212,
 70033,
 30681,
 20062,
 16692,
 85459,
 15315,
 14984,
 12981,
 88031,
 14182,
 14926,
 78987,
 14297,
 19565,
 70500,
 13641,
 21004,
 88991,
 91611,
 90920,
 81472,
 69796,
 58246,
 16865,
 13567,
 77659,
 47159,
 83583,
 18135,
 26710,
 81875,
 85073,
 78045,
 93101,
 66325,
 87299,
 48071,
 81262,
 77078,
 84400,
 93132,
 86401,
 85414,
 90435,
 90110,
 19413,
 89692,
 90227,
 28484,
 85257,
 64282,
 88853,
 93150,
 82776,
 91218,
 88362,
 13168,
 92988,
 82651,
 14322,
 56232,
 15349,
 90284,
 86144,
 23077,
 14811,
 78877,
 19661,
 19656,
 81696,
 76592,
 14179,
 16309,
 15966,
 90071,
 89269,
 19514,
 64995,
 16544,
 11891,
 40483,
 91705,
 89002,
 12508,
 43553,
 10324,
 93296,
 85080,
 12346,
 14579,
 91151,
 22840,
 86009,
 86591,
 36468,
 11754,
 47941,
 85321,
 18835,
 82618,
 15053,
 79363,
 16382,
 92530,
 86218,
 10299,
 90925,
 78840,
 24010,
 10909,
 48486,
 16084,
 18136,
 23026,
 19598,
 82307,
 90448,
 93312,
 22517,
 86540,
 86372,
 19178,
 80080,
 82311,
 91275,
 14414,
 42534,
 92550,
 13003,
 89463,
 81857,
 12062,
 92709,
 86756,
 81598,
 12431,
 13957,
 89004,
 19408,
 58827,
 65787,
 10604,
 91849,
 87056,
 91392,
 14252,
 47079,
 58640,
 89217,
 67598,
 11618,
 16496,
 92680,
 14919,
 18213,
 17334,
 92778,
 12623,
 19291,
 75577,
 90628,
 46886,
 68591,
 82298,
 80506,
 85160,
 13982,
 19553,
 89469,
 35554,
 91702,
 13983,
 24678,
 46578,
 89644,
 17092,
 18141,
 23660,
 77661,
 85621,
 18736,
 91388,
 17855,
 86938,
 14379,
 35044,
 65947,
 15546,
 79362,
 84020,
 68451,
 91547,
 14608,
 24563,
 14181,
 19084,
 84721,
 59379,
 89468,
 83188,
 77281,
 23931,
 81045,
 13627,
 81655,
 14394,
 25487,
 91457,
 17223,
 12787,
 91071,
 89509,
 41080,
 82650,
 14763,
 87204,
 93159,
 14065,
 18183,
 88601,
 16968,
 92293,
 80406,
 49015,
 86950,
 40416,
 63830,
 71175,
 12476,
 82581,
 57381,
 81138,
 75886,
 17362,
 79764,
 50404,
 18807,
 83862,
 16347,
 25267,
 87033,
 41355,
 62252,
 19575,
 88860,
 60599,
 80681,
 89201,
 77496,
 19578,
 89866,
 13963,
 80329,
 90805,
 16479,
 80089,
 17226,
 14750,
 91416,
 14009,
 14335,
 90305,
 34817,
 77129,
 15368,
 18790,
 19657,
 77182,
 14061,
 90162,
 77357,
 86072,
 13823,
 11674,
 15395,
 84656,
 87070,
 18077,
 89911,
 79906,
 90312,
 81285,
 81736,
 41443,
 66931,
 75100,
 82303,
 14983,
 14035,
 93223,
 92388,
 18403,
 61815,
 61241,
 19851,
 75857,
 47626,
 19807,
 14136,
 16693,
 52695,
 17254,
 13818,
 93337,
 89976,
 86799,
 80204,
 16499,
 79879,
 78083,
 82308,
 13210,
 88658,
 46674,
 92096,
 90664,
 18909,
 18908,
 93429,
 83621,
 13284,
 16600,
 84001,
 89304,
 90038,
 15052,
 85926,
 69550,
 15850,
 87662,
 14524,
 68304,
 90992,
 93152,
 76709,
 85265,
 86725,
 15494,
 83143,
 12366,
 17794,
 13739,
 92672,
 86964,
 13604,
 14641,
 12914,
 13046,
 13181,
 15797,
 86368,
 13315,
 18769,
 85479,
 14239,
 23317,
 84723,
 34032,
 10225,
 84836,
 79545,
 82276,
 44206,
 91575,
 87717,
 17342,
 14567,
 25081,
 91531,
 92188,
 83988,
 89685,
 84767,
 23579,
 89056,
 91305,
 12570,
 88309,
 46703,
 19789,
 61065,
 11403,
 82643,
 11976,
 76090,
 82300,
 61970,
 92585]

In [29]:
data_top=pd.DataFrame()
for i in top:
    data_top = data_top.append(finaldata[finaldata['permno'].isin([i])],ignore_index=True)

In [30]:
data_top = data_top.sort_values(by="Date",ignore_index=True)

In [31]:
data_top

,Date,permno,mvel1,RET,prc,SHROUT,beta,betasq,chmom,dolvol,...,bm_x,bm_ia,bm_y,tbl,ntis,svar,ep_y,dp,dfy,tms
0,196101,18411,1.075296e+06,0.041667,50.000000,22402,0.365210,0.133378,-0.235507,10.483767,...,0.0,0.0,0.522987,0.0224,0.021815,0.000741,-1.284343,-1.501556,0.0078,0.0180
1,196101,10145,1.086195e+06,0.048276,57.000000,19976,1.299310,1.688207,0.003399,10.620043,...,0.0,0.0,0.522987,0.0224,0.021815,0.000741,-1.284343,-1.501556,0.0078,0.0180
2,196101,16678,3.920938e+05,0.004800,31.125000,12547,0.768105,0.589985,-0.129480,10.210444,...,0.0,0.0,0.522987,0.0224,0.021815,0.000741,-1.284343,-1.501556,0.0078,0.0180
3,196101,16600,2.754870e+05,0.093886,125.250000,2406,0.524370,0.274964,0.295407,9.551267,...,0.0,0.0,0.522987,0.0224,0.021815,0.000741,-1.284343,-1.501556,0.0078,0.0180
4,196101,24109,1.259422e+06,0.121739,64.500000,21903,0.483778,0.234041,-0.154714,10.608492,...,0.0,0.0,0.522987,0.0224,0.021815,0.000741,-1.284343,-1.501556,0.0078,0.0180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260021,202012,13618,2.188516e+07,0.028992,21.650000,1040169,0.898575,0.807436,0.326988,15.938613,...,0.0,0.0,0.219195,0.0009,-0.000094,0.000678,-1.601006,-1.809223,0.0090,0.0084
260022,202012,13823,6.715761e+06,-0.052390,14.470000,439801,1.651530,2.727550,0.976780,15.668223,...,0.0,0.0,0.219195,0.0009,-0.000094,0.000678,-1.601006,-1.809223,0.0090,0.0084
260023,202012,12542,5.772674e+06,0.290662,20.870001,356999,0.990907,0.981897,0.463906,16.273914,...,0.0,0.0,0.219195,0.0009,-0.000094,0.000678,-1.601006,-1.809223,0.0090,0.0084
260024,202012,12449,2.211904e+07,0.028732,272.829987,83402,1.074911,1.155433,0.293551,17.290835,...,0.0,0.0,0.219195,0.0009,-0.000094,0.000678,-1.601006,-1.809223,0.0090,0.0084
260025,202012,92585,1.409506e+07,0.046672,90.720001,156800,0.841731,0.708511,0.276821,18.146307,...,0.0,0.0,0.219195,0.0009,-0.000094,0.000678,-1.601006,-1.809223,0.0090,0.0084

In [32]:
finaldata = data_top

## Lasso-top 1000 stocks

In [ ]:
R_square =[]

In [ ]:
for i in tqdm(range(197901,200901,100)):
    
    x_train,y_train,x_val,y_val,x_test,y_test=splitdata(finaldata,i)
    
    bestRSqr = float("-Inf")
    bestLasso = None
                         
    for alpha in [0.8,1,10,100]:
        lasso = Lasso(alpha=alpha,normalize=True)
        lasso.fit(x_train,y_train)
    
        pred = lasso.predict(x_val)
        currentRSqr = calculate_R_square(y_val, pred)
            
        if(currentRSqr>bestRSqr):
            bestRSqr=currentRSqr
            bestLasso=lasso

        
    resultPred = bestLasso.predict(x_test)
    resultRSqr = calculate_R_square(y_test, resultPred)

    R_square.append(resultRSqr)

In [ ]:
R_square = pd.DataFrame(R_square)

In [ ]:
R_square_lasso = R_square.mean(axis=0)
R_square_lasso

## Ridge- top 1000 stocks

In [ ]:
R_square =[]

In [ ]:
for i in tqdm(range(197901,200901,100)):
    
    x_train,y_train,x_val,y_val,x_test,y_test=splitdata(finaldata,i)
    
    bestRSqr = float("-Inf")
    bestRidge = None
                         
    for alpha in [0.1,0.4,1,10]:
        ridge = Ridge(alpha=alpha,normalize=True)
        ridge.fit(x_train,y_train)
    
        pred = ridge.predict(x_val)
        currentRSqr = calculate_R_square(y_val, pred)
            
        if(currentRSqr>bestRSqr):
            bestRSqr=currentRSqr
            bestRidge=ridge

        
    resultPred = bestRidge.predict(x_test)
    resultRSqr = calculate_R_square(y_test, resultPred)

    R_square.append(resultRSqr)

In [ ]:
R_square = pd.DataFrame(R_square)

In [ ]:
R_square_ridge = R_square.mean(axis=0)
R_square_ridge

## SDG-top 1000 stocks

In [ ]:
R_square =[]

In [ ]:
for i in tqdm(range(197901,200901,100)):
    
    x_train,y_train,x_val,y_val,x_test,y_test=splitdata(finaldata,i)
    
    bestRSqr = float("-Inf")
    bestsdg = None
                         
    for alpha in [0.01,0.1,0.001]:
        sdg = make_pipeline(StandardScaler(),SGDRegressor(loss='huber',alpha=alpha,max_iter=2000))
        sdg.fit(x_train,y_train)
    
        pred = sdg.predict(x_val)
        currentRSqr = calculate_R_square(y_val, pred)
            
        if(currentRSqr>bestRSqr):
            bestRSqr=currentRSqr
            bestsdg=sdg

        
    resultPred = bestsdg.predict(x_test)
    resultRSqr = calculate_R_square(y_test, resultPred)

    R_square.append(resultRSqr)

In [ ]:
R_square = pd.DataFrame(R_square)

In [ ]:
R_square_sdg = R_square.mean(axis=0)
R_square_sdg

## PCA-top 1000 stocks

In [ ]:
R_square =[]

In [ ]:
for i in tqdm(range(197901,200901,100)):
    
    x_train,y_train,x_val,y_val,x_test,y_test=splitdata(finaldata,i)
    
    bestRSqr = float("-Inf")
    bestPca = None
    
                         
    for n_com in [10,15,20]:
        pca = PCA(n_components=n_com)
        pcr = make_pipeline(StandardScaler(), pca, LinearRegression())
        pcr.fit(x_train,y_train)
    
        pred = pcr.predict(x_val)
        currentRSqr = calculate_R_square(y_val, pred)
            
        if(currentRSqr>bestRSqr):
            bestRSqr=currentRSqr
            bestPca=pcr

        
    resultPred = bestPca.predict(x_test)
    resultRSqr = calculate_R_square(y_test, resultPred)

    R_square.append(resultRSqr)

In [ ]:
R_square = pd.DataFrame(R_square)

In [ ]:
R_square_pca = R_square.mean(axis=0)
R_square_pca

## GBRT-top 1000 stocks

In [ ]:
R_square =[]

In [ ]:
for i in tqdm(range(197901,200901,100)):
    
    x_train,y_train,x_val,y_val,x_test,y_test=splitdata(finaldata,i)
    
    bestRSqr = float("-Inf")
    bestGbrt = None
                         
    for n_est in [10,20,30]:
        gbrt = GradientBoostingRegressor(n_estimators=n_est)
        gbrt.fit(x_train,y_train)
    
        pred = gbrt.predict(x_val)
        currentRSqr = calculate_R_square(y_val, pred)
            
        if(currentRSqr>bestRSqr):
            bestRSqr=currentRSqr
            bestGbrt=gbrt

        
    resultPred = bestGbrt.predict(x_test)
    resultRSqr = calculate_R_square(y_test, resultPred)

    R_square.append(resultRSqr)

In [ ]:
R_square = pd.DataFrame(R_square)

In [ ]:
R_square_gbrt = R_square.mean(axis=0)
R_square_gbrt

## Random Forest-top 1000 stocks

In [36]:
R_square =[]

In [37]:
for i in tqdm(range(197901,200901,100)):
    
    x_train,y_train,x_val,y_val,x_test,y_test=splitdata(finaldata,i)
    
    bestRSqr = float("-Inf")
    bestRf = None
                         
    for depth in [3,5]:
        for ntrees in [5,10]:
            rf = RandomForestRegressor(random_state=500, max_depth=depth, n_estimators=ntrees)
            rf.fit(x_train,y_train)
    
            pred = rf.predict(x_val)
            currentRSqr = calculate_R_square(y_val, pred)
            
            if(currentRSqr>bestRSqr):
                bestRSqr=currentRSqr
                bestRf=rf
                bestCombine=(depth,ntrees)
        
    resultPred = bestRf.predict(x_test)
    resultRSqr = calculate_R_square(y_test, resultPred)

    R_square.append(resultRSqr)

100%|██████████| 30/30 [05:53<00:00, 11.77s/it]

In [38]:
R_square = pd.DataFrame(R_square)

In [39]:
R_square_rf = R_square.mean(axis=0)
R_square_rf

0    0.020917
dtype: float64

# Feature importance

### Variable Selection by correlation

In [33]:
final = finaldata.iloc[:,:101]

In [34]:
da = final.drop(['Date','permno','RET','mom1m', 'chmom', 'indmom','mom12m','maxret','dolvol','dy','securedind','nincr','retvol','mvel1','std_turn','agr'],axis = 1)

In [35]:
class cal_corr:
    
    def __init__(self, df, n_clusters=5, threshold=0.01):
        self.df = self.handle_df(df.copy())
        self.n_clusters = n_clusters
        self.threshold = threshold
        self.corr = None
        
    @property
    def corr_matrix(self):
        return self.corr
    
    @property
    def corr_pairs(self):
        return self.pairs
        
        
    def handle_df(self,df):
        for item in df.select_dtypes(include=["object"]):
            df[item] = df[item].astype('category').cat.codes
        
        df = pd.DataFrame(StandardScaler().fit_transform(df),columns=df.columns)
        print(df.shape)
        return df
        
    def order_by_kmeans(self):
        kk = KMeans(n_clusters = self.n_clusters)
        res = kk.fit_predict(self.df.T)
        
        self.df = self.df.append(pd.Series(res,index=self.df.columns),ignore_index=True)
        self.df.sort_values(by = self.df.shape[0]-1,axis=1,inplace=True)
        self.df.drop(self.df.shape[0]-1,inplace=True)
        
        print(self.df.shape)
        
    def corr_heat_map(self):
        self.order_by_kmeans()
        
        self.corr = self.df.corr(method="pearson")
        self.corr = self.corr.round(3)
        self.corr = self.corr.apply(lambda x: abs(x))
        myvalues = []
        for i in range(len(self.corr.index)):
            for j in range(len(self.corr.index)):
                tmp = [i, j, self.corr.iloc[i, j]]
                myvalues.append(copy(tmp))
        self.__setattr__('pairs',myvalues)        
        
        heat_map = HeatMap(init_opts=opts.InitOpts(width="1440px", height="1440px"))\
            .add_xaxis(list(self.corr.columns))\
            .add_yaxis("corr", list(self.corr.index), myvalues) \
            .set_global_opts(
                title_opts=opts.TitleOpts(title="Correlation of model variables"),
                datazoom_opts=[opts.DataZoomOpts(is_show=True, is_realtime=True), ],
                visualmap_opts=opts.VisualMapOpts(min_=-1.2, max_=1.2, pos_right=20),
                toolbox_opts=opts.ToolboxOpts(is_show=True),
                xaxis_opts=opts.AxisOpts(type_="category", is_scale=True, is_inverse=True, axislabel_opts=opts.LabelOpts(is_show=True, rotate=-60)),
                yaxis_opts=opts.AxisOpts(is_scale=True, is_inverse=False, axislabel_opts=opts.LabelOpts(is_show=True, position="right")),
                tooltip_opts=opts.TooltipOpts(is_show=True))\
            .set_series_opts(label_opts=opts.LabelOpts(is_show=True, position="insideBottom"))

        heat_map.render()
        

    def drop_hight_corr(self):
        cor_pair = self.pairs
        cor_pair.sort(key=lambda x:x[2],reverse=True)
        del_pair = []
        del_col = []
        for item in cor_pair:
            if (item[0]==item[1])|(set(item[:2]) in del_pair)|(item[0] in del_col)|(item[1] in del_col):
                continue

            if item[2]>self.threshold:
                c1 = self.corr.iloc[item[0],[x for x in range(self.corr.shape[0]) if x not in del_col]].mean()
                c2 = self.corr.iloc[item[1],[x for x in range(self.corr.shape[0]) if x not in del_col]].mean()

                del_col.append(item[0] if c1>c2 else item[1])
                del_pair.append(set(item[:2]))
            else:
                break
            
        del_col_name = self.corr.iloc[:,del_col].columns
        
        return list(del_col_name)


if __name__ == '__main__':
    c = cal_corr(da, n_clusters=5, threshold=0.01)
    c.corr_heat_map()
    del_col = c.drop_hight_corr()

(260026, 85)
(260026, 85)

In [23]:
var = finaldata.columns.values.tolist()
for i in del_col:
    var.remove(i)

In [24]:
var.remove('Date')
var.remove('permno')
var.remove('RET')

### Lasso

In [64]:
R_square_lasso_=pd.DataFrame()

In [69]:
for j in tqdm(var):
    finaldata = data_top.copy()
    finaldata.j=0
    R_square =[]
    for i in range(197901,200901,100):
        
        x_train,y_train,x_val,y_val,x_test,y_test=splitdata(finaldata,i)
    
        bestRSqr = float("-Inf")
    
                         
        for alpha in [0.8,1,10,100]:
            lasso = Lasso(alpha=alpha,normalize=True)
            lasso.fit(x_train,y_train)
    
            pred = lasso.predict(x_val)
            currentRSqr = calculate_R_square(y_val, pred)
            
            if(currentRSqr>bestRSqr):
                bestRSqr=currentRSqr
                bestLasso=lasso

        
        resultPred = bestLasso.predict(x_test)
        resultRSqr = calculate_R_square(y_test, resultPred)

        R_square.append(resultRSqr)
    R_square_lasso_ = R_square_lasso_.append(pd.DataFrame(R_square).mean(axis=0), ignore_index=True)

100%|██████████| 32/32 [02:56<00:00,  5.51s/it]

In [84]:
Lasso=pd.DataFrame({'Predictors':var}).merge(R_square_lasso_,left_index=True,right_index=True)

In [85]:
Lasso.to_csv('R_square_lasso.csv',index=False)

### Ridge

In [ ]:
R_square_ridge_=pd.DataFrame()

In [ ]:
for j in tqdm(var):
    finaldata = data_top.copy()
    finaldata.j=0
    R_square =[]
    for i in range(197901,200901,100):
        
        x_train,y_train,x_val,y_val,x_test,y_test=splitdata(finaldata,i)
    
        bestRSqr = float("-Inf")
                         
        for alpha in [0.1,0.4,1,10]:
            ridge = Ridge(alpha=alpha,normalize=True)
            ridge.fit(x_train,y_train)
    
            pred = ridge.predict(x_val)
            currentRSqr = calculate_R_square(y_val, pred)
            
            if(currentRSqr>bestRSqr):
                bestRSqr=currentRSqr
                bestRidge=ridge

        
        resultPred = bestRidge.predict(x_test)
        resultRSqr = calculate_R_square(y_test, resultPred)

        R_square.append(resultRSqr)
    R_square_ridge_ = R_square_ridge_.append(pd.DataFrame(R_square).mean(axis=0), ignore_index=True)

In [ ]:
Ridge=pd.DataFrame({'Predictors':var}).merge(R_square_ridge_,left_index=True,right_index=True)

In [ ]:
Ridge.to_csv('R_square_ridge.csv',index=False)

### SDG

In [ ]:
R_square_sdg_=pd.DataFrame()

In [ ]:
for j in tqdm(var):
    finaldata = data_top.copy()
    finaldata.j=0
    R_square =[]
    for i in range(197901,200901,100):
        
        x_train,y_train,x_val,y_val,x_test,y_test=splitdata(finaldata,i)
    
        bestRSqr = float("-Inf")
                         
        for alpha in [0.01,0.1,0.001]:
            sdg = make_pipeline(StandardScaler(), pca, LinearRegression())
            sdg.fit(x_train,y_train)
    
            pred = sdg.predict(x_val)
            currentRSqr = calculate_R_square(y_val, pred)
            
            if(currentRSqr>bestRSqr):
                bestRSqr=currentRSqr
                bestsdg=sdg

        
        resultPred = bestsdg.predict(x_test)
        resultRSqr = calculate_R_square(y_test, resultPred)

        R_square.append(resultRSqr)
    R_square_sdg_ = R_square_sdg_.append(pd.DataFrame(R_square).mean(axis=0), ignore_index=True)

In [ ]:
R_square_sdg_.to_csv('R_square_sdg.csv')

### PCA

In [ ]:
R_square_pca_=pd.DataFrame()

In [ ]:
for j in tqdm(var):
    finaldata = data_top.copy()
    finaldata.j=0
    R_square =[]
    for i in range(197901,200901,100):
        
        x_train,y_train,x_val,y_val,x_test,y_test=splitdata(finaldata,i)
    
        bestRSqr = float("-Inf")

    
                         
        for n_com in [10,15,20]:
            pca = PCA(n_components=n_com)
            pcr = make_pipeline(StandardScaler(), pca, LinearRegression())
            pcr.fit(x_train,y_train)
    
            pred = pcr.predict(x_val)
            currentRSqr = calculate_R_square(y_val, pred)
            
            if(currentRSqr>bestRSqr):
                bestRSqr=currentRSqr
                bestPca=pcr

        
        resultPred = bestPca.predict(x_test)
        resultRSqr = calculate_R_square(y_test, resultPred)

        R_square.append(resultRSqr)
    R_square_pca_ = R_square_pca_.append(pd.DataFrame(R_square).mean(axis=0), ignore_index=True)

In [ ]:
R_square_pca_.to_csv('R_square_pca.csv')

### GBRT

In [ ]:
R_square_gbrt_=pd.DataFrame()

In [ ]:
for j in tqdm(var):
    finaldata = data_top.copy()
    finaldata.j=0
    R_square =[]
    for i in range(197901,200901,100):
        
        x_train,y_train,x_val,y_val,x_test,y_test=splitdata(finaldata,i)
    
        bestRSqr = float("-Inf")
   
                         
        for n_est in [10,20,30]:
            gbrt = GradientBoostingRegressor(n_estimators=n_est)
            gbrt.fit(x_train,y_train)
    
            pred = gbrt.predict(x_val)
            currentRSqr = calculate_R_square(y_val, pred)
            
            if(currentRSqr>bestRSqr):
                bestRSqr=currentRSqr
                bestGbrt=gbrt

        
        resultPred = bestGbrt.predict(x_test)
        resultRSqr = calculate_R_square(y_test, resultPred)

        R_square.append(resultRSqr)
    R_square_gbrt_ = R_square_gbrt_.append(pd.DataFrame(R_square).mean(axis=0), ignore_index=True)

In [ ]:
R_square_gbrt_.to_csv('R_square_gbrt.csv')

### Random Forest

In [40]:
R_square_rf_=pd.DataFrame()

In [41]:
for j in tqdm(var):
    finaldata = data_top.copy()
    finaldata.j=0
    R_square =[]
    for i in range(197901,200901,100):
        
        x_train,y_train,x_val,y_val,x_test,y_test=splitdata(finaldata,i)
    
        bestRSqr = float("-Inf")

                         
        for depth in [3,5]:
            for ntrees in [5,10]:
                rf = RandomForestRegressor(random_state=500, max_depth=depth, n_estimators=ntrees)
                rf.fit(x_train,y_train)
    
                pred = rf.predict(x_val)
                currentRSqr = calculate_R_square(y_val, pred)
            
                if(currentRSqr>bestRSqr):
                    bestRSqr=currentRSqr
                    bestRf=rf
                    bestCombine=(depth,ntrees)
        
        resultPred = bestRf.predict(x_test)
        resultRSqr = calculate_R_square(y_test, resultPred)

        R_square.append(resultRSqr)
    R_square_rf_ = R_square_rf_.append(pd.DataFrame(R_square).mean(axis=0), ignore_index=True)

100%|██████████| 32/32 [11:08:00<00:00, 1252.53s/it]

In [43]:
R_square_rf_.to_csv('R_square_rf.csv')